body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(190, 73, 171);
    color: white;
}

div > h2 {
    background-color: white;
    color:rgb(190, 73, 171);
    font-size: 4em;
    text-align: center;
}

div > h3 {
    font-family: geneva;
    text-align: center;
    font-size: 3em;
}

h2 > a {
    color: white;
}
nav > ul > li > a:link {
    color: white;
}

nav > ul > li > a:visited {
    color: rgb(7, 11, 244);
}

footer {
    width: max-content;
    align-content: center;
}